---
layout: default
---

	<div id="content" class="nine">
		{% if page.title %}
		<h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
		{% if page.date %}<p class="post-date">{% include post/date.html %}{{ time }}</p><hr />{% endif %}
		{% endif %}
		{{ content }}
		{% unless page.footer == false %}
		{% if page.date or page.author %}<p class="post-date">
		{% if page.author %}{% include post/author.html %}{% endif %}
		{% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
		{% if page.categories %}{% include post/categories.html %}{% endif %}
	  </p><hr />{% endif %}
	  {% unless page.sharing == false %}
		{% include post/sharing.html %}
	  {% endunless %}
	  {% endunless %}
	  {% if site.disqus_short_name and page.comments == true %}
		  <section id="comments">
			<h1>Comments</h1>
			<div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
		  </section>
		{% endif %}
	</div>
	{% unless page.sidebar == false %}
	<div id="asides" class="three last">
		{% if site.page_asides.size %}
		{% include_array page_asides %}
	  {% else %}
		{% include_array default_asides %}
	  {% endif %}
	</div>
	{% endunless %}
