<footer class="container">
	<section class="row">
		<article class="four">
			<p>
				&copy; Copyright {{ site.time | date: "%Y" }} {{ site.author }} / Proudly powered by <a href="http://octopress.org">Octopress</a> / Spart'n Theme by Bill Patrianakos
			</p>
		</article>
		<article class="eight last">
			<ul id="footer-nav">
				<li><a href="{{ root_url }}/">Blog</a></li>
				<li><a href="{{ root_url }}/about">About</a></li>
				<li><a href="{{ root_url }}/projects">Projects</a></li>
				<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
			</ul>
		</article>
	</section>
</footer>