/**********************************\
 * Fraction.less Main Stylesheet  *
 *                                *
 * Author:  Bill Patrianakos      *
 * Site:  	billpatrianakos.me    *
 * License: BSD                   *
\**********************************/



/* LESS Mixins */
@import "mixins";

/* Site-wide color scheme */
@import "colors";

/* CSS "reset" */
@import "normalize";

/* Grid Framework */
@import "12col";

/* Typography */
@import "type";
//@import url('font-awesome.css');
@import "fonts";

/*:::: BUTTONS ::::*/

button, input[type=submit] {
	background: $ltblack;
	@include border-radius(3px);
	font-family: Edmondsans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: $white !important;
	font-size: 16px;
	border: none;
	padding: 6px 12px;
	margin-top: 10px;
}


/**************************************\
|* THE REST OF YOUR STYLES BELOW HERE *|
\**************************************/

body {
	background: $white;
}

header {
	background: $ltblack;
	@include box-shadow(0, 1px, 7px, $black);
	& h1#title, a#title-link, a#title-link:visited {
	  font-family: 'Edmondsans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-size: 21px;
	  color: $white !important;
	  @include text-shadow(0, 1px, 1px, $ltblack);
	  margin-bottom: 0;
	  top: 10px;
	}
}

nav {
  font-family: Edmondsans, 'Helvetica Neue', Helvetica, 'Droid Sans', Arial, sans-serif;
  & ul {
	font-family: inherit;
	float: right;
	list-style: none;
	margin-top: 10px;
	& li {
	  font-family: inherit;
	  display: inline;
	  font-size: 16px;
	  margin-left: 18px;
	  & a, a:visited {
		color: $white;
		@include text-shadow(0, 1px, 1px, $black);
		border-bottom: none;
	  }
	  & a:hover {
		color: $orange;
		@include text-shadow(0, 1px, 1px, $ltblack);
	  }
	}
  }
}

#main-container {
	margin-top: 40px;
	& #content {
		& .post-date {
			font-family: Fanwood-italic, Edmondsans-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 18px;
			margin-top: 0;
			margin-bottom: 0;
			top: 0;
		}
		& .post-container {
			margin-bottom: 80px;
			& .post-title a, .post-title a:visited {
				color: $ltblack !important;
			}
			& .post-title a:hover {
				color: $orange !important;
			}
		}
	}
	& #asides {
		margin-top: 130px;
	}
}

aside {
	& h1, h2, h3, h4, h5, h6 {
		font-family: Edmondsans-Bold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom: 0;
	}
	& p, li, label {
		font-family: Edmondsans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
	}
}

#pre-footer {
	background: $orange;
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	& h3 {
		color: $white;
		@include text-shadow(0, 1px, 1px, $orange);
	}
	& p, label {
		@include text-shadow(0, 1px, 1px, $orange);
		color: $black;
	}
	& a, a:visited {
		color: $white;
		@include text-shadow(0, 1px, 1px, $orange);
	}
	& a:hover {
		color: $ltblack;
	}
	& ul {
		list-style: none;
		padding: 0;
		& li {
			font-family: Edmondsans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 14px;
			margin-bottom: 10px;
			& a, a:visited {
				font-family: Edmondsans, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
				font-size: 14px;
				color: $white;
				@include text-shadow(0, 1px, 1px, $orange);
			}
			& a:hover {
				color: $ltblack;
			}
		}
	}
}

#gh_repos {
	& li p {
		margin-top: 0;
		top: 0;
	}
}

ul#recent_posts {
	list-style: none;
	padding: 0;
	& li {
		font-family: Edmondsans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		margin-bottom: 10px;
		& a, a:visited {
			font-family: Edmondsans, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
			font-size: 14px;
			color: $white;
			@include text-shadow(0, 1px, 1px, $orange);
		}
		& a:hover {
			color: $ltblack;
		}
	}
}

footer {
	& nav ul {
		margin-top: 25px !important;
	}
	& nav ul li {
		font-family: Fanwood, Georgia, 'Times New Roman', Times, serif;
		& a, a:visited {
			color: $ltblack;
			font-size: 14px;
			@include text-shadow(0, 1px, 1px, $white);
		}
		& a:hover {
			color: $orange;
			@include text-shadow(0, 1px, 1px, $white);
		}
	}
}

pre, code {
	font-family: SourceCodePro, Menlo, Inconsolata, monospace !important;
	font-size: 14px !important;
}

/*:::: Somewhat special classes and small bug fixes (or hacks ::::*/

a.read-more {
	@include border-radius(3px);
	padding: 10px 16px;
	font-family: 'Edmondsans-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: $orange;
	color: $white;
}

a.read-more:hover {
	background: $ltblack;
}

#comments {
	display: block;
	clear: both;
}

p.meta {
	display: block;
	clear: both;
}

.pagination {
	display: block;
	margin-top: 40px;
	& a, a:visited {
		font-family: 'Edmondsans-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	& a.prev {
		float: left;
	}
	& a.next {
		float: right;
		position: relative;
		bottom: 19px;
	}
}

.archive-link {
	display: block;
	text-align: center;
}

/*:::: HELPER CLASSES ::::*/

/*
 * Define your styles first. Add media queries below these helpers.
 */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hidden from browsers and screen readers */
.hidden { display: none !important; visibility: hidden; }

/*  Hidden visibly but available to screenreaders. Same as .hidden but good for accessibility */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends .visually hidden to allow element to be focusable when using the keyboard */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout. Think of it as having an element match the background - looks hidden but affects other elements. Cannot be highlighted */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q This is a godsend in many cases */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*:::: MEDIA QUERIES ::::*/

/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}

	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}

	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}

	.row .one, .row .two, .row .three, .row .four, .row .five, .row .six, .row .seven, .row .eight, .row .nine, .row .ten, .row .eleven, .row .twelve {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}

/* Extra queries just in case... */



/*@media handheld, only screen and (max-width: 767px) {

	body {

	}

}*/


/* Hi-Res images for iPhone4 */

/*@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

/*}*/

/* Print styles */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
